 /* Hier ist der Body zu Bearbeitung, also alles was auf der Seite Grundleged verändert wird*/
 body{

    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    background-image:url(images/Home.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
} 
/* Hauptmenü Überschrift/ Schrifteigenschaften */
h2 {
    font-size: 1.5em;
    color: aliceblue;
}

.navHauptmenü ul {
    margin: 0;
    padding: 0;
    /* display: table; */
}


/* Hauptmenüs/Schrifteigenschaften */
 .navHauptmenü ul li a{
    color: #fefefe;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: table-cell;
    border: 4px solid #3e0352;
 }
 .navHauptmenü ul li{ 
    list-style: none;
    text-transform: uppercase;
    display: table-row;
    height: 40px;
    width: 34px;
    margin: 0;
    padding: 0;
}

/* Einstellung für das Localmenü/Schrifteigenschaften*/
.navLocalmenü ul li a{
    color: #fefefe;
    text-decoration: none;
    margin: 0;
    padding: 0; 
    display: table-cell;
    border: 4px solid #3e0352;
}

.navLocalmenü ul li{
    list-style: none;
    text-transform: uppercase;
    display: table-row;
    height: 40px;
    width: 34px;
    margin: 0;
    padding: 0;
}

.navLocalmenü ul{
    margin: 0;
    padding: 0;
    /* display: table; */
}
/* Schrifteigenschaften der Überschriften */

